<div class="ui-grid-cell-contents">
  <button type="button" class="btn btn-xs btn-primary" ng-disabled="!grid.appScope.isLoggedIn()" ng-click="grid.appScope.editRow(grid, row); grid.appScope.showHomeError()">
    <i class="fa fa-edit"></i>
  </button>
  <button type="button" class="btn btn-xs btn-primary" ng-disabled="!grid.appScope.isLoggedIn()" ng-click="grid.appScope.deleteRow(grid, row); grid.appScope.showHomeError()">
    <i class="fa fa-trash-o"></i>
  </button>

  <button type="button" class="btn btn-xs btn-primary" ng-disabled="!grid.appScope.isLoggedIn()" ng-click="grid.appScope.grantUserPermission(grid, row); grid.appScope.showHomeError()">
    <i class="fa fa-users"></i>
  </button>
</div>