<div class="nav_menu" style="position: fixed; z-index: 3;">
	<nav class="" role="navigation">
		<div class="nav toggle">
			<a id="menu_toggle" href="#"><i class="fa fa-home" style="color: #fff"></i></a>
		</div>
		<div class="nav toggle page-top-title">
			<span><b>Automation Dashboard</b></span>
		</div>

		<span style="float: right; margin-top: 15px; margin-bottom: 15px; margin-right: 25px" ng-controller="NavCtrl">
			<span ng-show="isLoggedIn()"><a style="font-size: 15px; color: white; margin-right: 15px">Welcome, {{ currentUser() }}</a></span>
			<button ng-show="isLoggedIn()" class="btn btn-md btn-primary" ng-click="logOut()">
				<i class="fa fa-sign-out"> Log Out</i>
			</button>
			<button ng-hide="isLoggedIn()" class="btn btn-md btn-primary" ng-click="go('/login')">
				<i class="fa fa-sign-in"> Log In</i>
			</button>
			<button ng-hide="isLoggedIn()" class="btn btn-md btn-primary" ng-click="go('/register')">
			<i class="fa fa-user-plus"> Register</i>
			</button>
		</span>
	</nav>
</div>

<div class="right_col" role="main">
	<div id="main_table" class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h3><span style="font-size: 18px;">Automation Reports</span>
						<button ng-disabled="!isLoggedIn()" style="float:right" type="button" class="btn btn-md btn-primary" ng-click="addRow()">
						    <i class="fa fa-plus"> Add Record</i>
						</button>
						<button ng-disabled="!isLoggedIn()" style="float:right" type="button" class="btn btn-md btn-primary" ng-click="registerAsset()">
						    <i class="fa fa-plus"> Register Asset</i>
						</button>
					</div>
					<div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
					<div id="gridErrorAlert" ng-show="homeError" class="alert alert-danger row" style="text-align: center;">
						<i class="fa fa-exclamation-circle"></i>
						<span>{{ homeError }}</span>
						<i class="fa fa-times" ng-click="hideErrorAlert()" style="float: right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>